<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @check_list.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @check_list.description %>
</p>
<div id="items_wrapper">
	<%= render @check_list.items %>
	<div id="form">
		<%= render "items/form" %>
	</div>
</div>

<%= link_to 'Edit', edit_check_list_path(@check_list) %> |
<%= link_to 'Back', check_lists_path %>
